a.item-link {
  display: block;
  padding: ($base-spacing / 2) $base-spacing ($base-spacing / 1.5);
  background-color: $near-white;

  h1, p {
    margin: 0;
  }

  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 0.9em;
    color: $base-font-color;
  }

  .date {
    color: transparentize($base-font-color, .6);
    font-style: italic;
  }

  &:visited h1 {
    color: $medium-gray;
  }

  &:hover, &:focus {
    background-color: lighten($action-color, 40%);
  }
}
