@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "items";


.wrapper {
	@include outer-container();
	max-width: 829px;
}

// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
.media {margin:0;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}


.pagination {
	@include clearfix;
	text-align: center;

	ul, li {
		display: inline;
	}

	li {
		padding: 5px 10px;
		margin: 5px;
		border-radius: $base-border-radius;
		border: 1px solid #e0e0e0;
		background-color: #f6f6f6;
	}
}
