@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "items";


.wrapper {
	@include outer-container();
	max-width: 829px;
}

.brand {
	padding: $small-spacing;
	margin-bottom: $base-spacing;
	background-color: $brand-color;
	text-align: center;

	h1 {
		margin: 0;
		font-size: $base-font-size * 2;
		color: white;
	}
}


.pagination {
	@include clearfix;
	text-align: center;

	ul, li {
		display: inline;
	}

	li {
		padding: 5px 10px;
		margin: 5px;
		border-radius: $base-border-radius;
		border: 1px solid #e0e0e0;
		background-color: #f6f6f6;
	}
}
