@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "items";


.wrapper {
	@include outer-container();
	max-width: 829px;
}


.pagination {
	@include clearfix;
	text-align: center;

	ul, li {
		display: inline;
	}

	li {
		padding: 5px 10px;
		margin: 5px;
		border-radius: $base-border-radius;
		border: 1px solid #e0e0e0;
		background-color: #f6f6f6;
	}
}
